* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(5, 135, 50);
  padding: 0 1rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 3px 3px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
