* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(5, 135, 50);
  padding: 0 1rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  top: 0;
  left: 0;
  width: 100%;
}

/*nav in dropdown menu from love running tutorial - code instatute*/
nav {
  position: absolute;
  background-color: rgb(5, 100, 50);
  width: 100%;
  left: 0;
  display: none;
  top: 100%;
  z-index: 100;
  
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  cursor: pointer;
}
/*end of love running tutorial code*/

section {
  display: flex; 
  flex-direction: column;
  padding: 1rem;
  justify-content: center; 
  align-items: center;
}

body {
  position: relative;
  content: "";
  position: fixed;
  background-image: url("../images/background-vines.webp"); /* image from https://pixabay.com/illustrations/background-pattern-vines-design-6569058/ */
  background-color: rgba(255, 255, 255, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
}

.selected {
  font-weight: bold;
}

#hero {
  width: 100vw;
  height: 100%;
  display: flex;
  object-fit: cover;     
  object-position: center;
  justify-content: center;    
  align-items: center;      
  overflow: hidden;
}