* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(5, 135, 50);
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  top: 0;
  width: 100%;
  position: relative;

  /*font from https://fonts.google.com/specimen/EB+Garamond*/

  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header h1 {
  text-align: left;
}
header

/*nav in dropdown menu from love running tutorial - code instatute*/
nav {
  position: absolute;
  background-color: rgb(5, 100, 50);
  padding: 1rem 0;
  display: none;
  top: 100%;
  z-index: 100;

  right: 0rem;
  width: 150px;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  cursor: pointer;
}
/*end of love running tutorial code*/

section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

body {
  overflow-y: auto;
  position: relative;
  content: "";
  background-image: url("../images/background-vines.webp"); /* image from https://pixabay.com/illustrations/background-pattern-vines-design-6569058/ */
  background-color: rgba(255, 255, 255, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
  min-height: 200vh;
  width: 100%;
}

h2 {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.selected {
  font-weight: bold;
}

#hero img {
  display: flex;

  object-position: center;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.item_txt {
  width: 250px;
}
.item_img img {
  width: 400px;
}

.card {
  background-color: rgb(5, 140, 25);
}
.list-group-item {
  background-color: rgb(5, 140, 25);
  border-color: rgb(4, 115, 21);
}

#photos img {
  width: 100%;
  line-height: 1em;
}

#photos {
  line-height: 0;
}

@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .item_txt {
    width: 100%;
    text-align: center;
  }

  .item_img img {
    width: 100%;
    height: auto;
    display: block;
  }

  .container_2 {
    flex-direction: column-reverse;
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container_1 {
    justify-content: flex-start;
    gap: 10rem;
  }
  .container_2 {
    justify-content: flex-end;
  }
  .item_img {
    width: 200px;
  }
  .item_txt {
    width: 300px;
  }

  .plants {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .plants > * {
    width: calc(50% - 1rem);
  }

  #photos {
    column-count: 3;
    column-gap: 0;
  }


}

@media screen and (min-width:1024px) {
   #photos {
    column-count: 4;
    column-gap: 0;
  }
  
}
